BR2_DL_DIR="$(BR2_EXTERNAL)/dl"
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL)/$(PROJECT_NAME)/local.mk"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/$(PROJECT_NAME)/patch"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/$(PROJECT_NAME)/overlay"
